.controller-main-content {
  display: flex;
  align-items: center;
  padding: 16px 30px;
  border-bottom: 1px solid rgba(78, 78, 78, 0.25);
  &.default-content {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 15%;
  }
}
.control-main-name {
  width: 15%;
  text-align: left;
  font-weight: 700;
  padding-right: 20px;
  word-break: break-all;
  &.required::after {
    content: "*";
    color: red;
  }
}
.control-main-desc {
  width: 70%;
  padding-right: 20px;
  text-align: left;
  > p {
    margin-bottom: 10px;
  }
  &.default-content {
    p {
      font-weight: 700;
      margin-bottom: 0;
    }
  }
}
.control-main-default {
  width: 15%;
  text-align: left;
  &.default-content {
    font-weight: 700;
  }
}

//properties option's style
.properties-content {
  border-bottom: 1px solid rgba(78, 78, 78, 0.25);
}
.properties-desc {
  > p {
    margin-bottom: 0;
  }
}
.properties-name {
  font-weight: normal;
}
