.tooltip-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.grid-item {
  display: inline-block;
  width: 30%;
}
.grid-item-bubble {
  font-size: 26px;
  transition: width 0.3s;
}
.bubble-box-wrapper {
  margin: 0 auto;
  max-width: 15%;
}
