.control-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.panel-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}
.controller-content-wrapper {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.controller-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 22.5%;
  padding: 16px 30px;
  border-bottom: 1px solid rgba(78, 78, 78, 0.25);
  &.default-content {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 10%;
  }
  > p {
    width: 30%;
    text-align: left;
    padding: 4px 6px;
    display: inline-block;
  }
}
.color-box {
  margin: 0 auto 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  width: 100%;
  background-color: inherit;
  cursor: pointer;
  > div {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 4px solid rgba(127, 127, 127, 1);
    transition: opacity 0.3s;
  }
}
.control-selector {
  margin: 0 auto 0 0;
  max-width: 400px;
  background-color: inherit;
}
.control-default {
  width: 70%;
  text-align: left;
  background-color: inherit;
}
.controller {
  position: absolute;
  width: 100%;
  height: 50%;
  box-shadow: 0px -2px 5px -2px gray;
  transition: bottom 0.4s;
  &.flip {
    svg {
      transform: rotate(0deg);
    }
  }
  &.non-flip {
    svg {
      transform: rotate(180deg);
    }
  }
}
.controller-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px;
  height: 40px;
  border-bottom: 1px solid rgba(78, 78, 78, 0.4);
  > svg {
    width: 40px;
    padding: 0 5px;
    transition: transform 0.4s;
    cursor: pointer;
  }
}
